html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #303030;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: rgb(239, 239, 239);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#preact_root {
  height: 100%;
}

blockquote {
  border-left: 3px solid #ccc;
  padding: 0.5em 10px;
}
